.statut-terminer {
    color: sienna;
}

.statut-annuler {
    color: red;
}

.statut-enattente {
    color: orange;
}

.statut-payer {
    color: blue;
}

.statut-encours {
    color: purple;
}

.statut-accepter {
    color: green;
}

.statut-refuser {
    color: deeppink;
}